.companies{
    position: relative;
    min-height: 235px;
    @include bg-image('bg/partners.jpg');
}

.companies__list{
    position: relative;

    ul{
        display: flex;
        justify-content: space-between;
        margin: 0 -5px;

        @include media-mdx{
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    li{
        margin-top: 40px;
        padding: 0 5px;

        @include media-sm{
            max-width: 50%;
        }
    }

    a{
        display: flex;
        text-align: center;
    }
}