.documents{
    position: relative;
    margin: auto;

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 100%;
        box-shadow: 150px 0px 50px -20px rgba(59, 76, 104, 1) inset;
        z-index: 5;

        @include media-sm{
            margin-left: -80px;
        }
    }

    &:after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 200px;
        height: 100%;
        box-shadow: -150px 0px 50px -20px rgba(59, 76, 104, 1) inset;
        z-index: 5;

        @include media-sm{
            margin-right: -80px;
        }
    }
}